/* Colors */

$transparent: transparent;
$white: #ffffff;
$dark: #000000;
$darkslategray: #474A4D;
$tomato: #F65F61;
$whitesmoke-100: #e3e3e3;
$whitesmoke-200: #f1f1f1;
$darkgray: #9FA0A1;

/* fonts  */
$baloo-bhaijaan: 'Baloo Bhaijaan', cursive;

/* Buttons */

$buttonConfig: 'danger' $tomato $white $tomato,
'primary' $dark $white $dark;
@each $var in $buttonConfig {
    .btn-#{nth($var, 1)} {
        background: #{nth($var, 2)};
        color: #{nth($var, 3)};
        border-color: #{nth($var, 4)};
        &:hover, &:focus, &:disabled, &:active, &:not(:disabled):not(.disabled):active {
            background: #{nth($var, 2)};
            color: #{nth($var, 3)};
            border-color: #{nth($var, 4)};
        }
    }
}