body,
html {
    font-size: 14px;
    min-height: 100% !important;
    height: 100%;
    color: $darkslategray;
    background: $white;
}

img {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

strong {
    // font-family: $Bold-text; 
}

a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: none;
    }
}

ul,
ol {
    margin: 0px;
    padding: 0;
    list-style: none;
}


/* Heading font size */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

.darkgray-color { color: $darkgray !important; }
.title-20 {
    font-size: 20px;
    line-height: 24px;
}
.title-22 {
    font-size: 22px;
    line-height: 30px;
}


/* button */
.btn {
    height: 62px;
    padding: 0 18px;
    border-radius: 40px;
    font-size: 22px;
    min-width: 260px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 39px;
        margin-right: 16px;
    }
    &:focus, &:hover, &:active, &:not(:disabled):not(.disabled):active:focus {
        outline: none;
        @include boxShadow(none);
    }
}

.btn-round {
    background: $tomato;
    border-color: $tomato;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    color: $white;
    position: relative;
    cursor: pointer;
    i {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    &:focus, &:hover {
        outline: none;
    }
}

/* visit Screen */
.visitScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .visitInner {
        width: 288px;
        margin: auto;
        text-align: center;
        img {
            width: 143px;
            margin: auto;
        }
        p {
            margin-top: 23px;
            font-family: $baloo-bhaijaan;
            font-size: 30px;
        }
    }
}

/* chat Screen */
.chatScreen {
    display: block;
    .chatInner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .startChat {
        padding-top: 40px;
        margin-bottom: 40px;
        img {
            width: 120px;
            margin: 0 auto 30px;
        }
    }
    .signature-Img {
        width: 300px;
        height: 198px;
        background: $white;
        border-radius: 34px;
        margin: -16px -23px;
    }
    .chatBox {
        position: relative;
        padding-left: 80px;
        .chatImg {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .chatContent {
            background: $white;
            border-radius: 40px;
            border-bottom-left-radius: 0;
            padding: 22px 30px;
            @include boxShadow(0 3px 6px rgba(0, 0, 0, .1));
            max-width: calc(100% - 143px);
            display: inline-block;
            word-break: break-word;
            text-align: left;
            .text-Img {
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
        }
        &.position-right {
            padding-left: 0;
            .chatContent {
                background: $tomato;
                color: $white;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 0;
            }
        }
        .heading { margin-bottom: 8px; }
        .profilePic {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 34px;
            margin: -16px -23px;
        }
        .contactPerson {
            padding-left: 63px;
            position: relative;
            min-height: 50px;
            display: flex;
            align-items: center;
            margin: -17px 0 -18px -25px;
            .contactImg {
                width: 50px;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: $white;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .chatActionList {
        padding: 20px;
        border-top: 1px solid $whitesmoke-100;
        background: $white;
        position: fixed;
        width: 100%;
        bottom: 0;
        .actionbtn {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                }
            }
            &.visitorActionBtn {
                .btn {
                    min-width: 180px;
                }
            }
        }
        .note {
            color: $darkgray;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
        .phoneInput {
            padding-left: 35px;
            padding-right: 100px;
            background: $white;
            border-radius: 50px;
            position: relative;
            @include boxShadow(0 3px 6px rgba(0, 0, 0, .2));
            height: 72px;
            display: flex;
            align-items: flex-end;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-top: 22px;
            ul {
                display: flex;
                li {
                    padding: 0 8px;
                    input {
                        width: 30px;
                        height: 33px;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        border-bottom: 2px solid rgba(112, 112, 112, 0.5);
                        text-align: center;
                        font-size: 30px;
                        &:focus {
                            outline: none;
                        }
                    }
                    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: pink;
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                        color: pink;
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                        color: pink;
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                        color: pink;
                    }
                }
            }
            .btn-round {
                position: absolute;
                top: 0;
                right: 0;
            }
            &.phoneOTP {
                .btn-resend {
                    font-size: 22px;
                    margin-left: auto;
                    color: $tomato;
                    border: 0;
                    background: $transparent;
                }
            }
        }
        .informationField {
            padding-left: 35px;
            padding-right: 100px;
            background: $white;
            border-radius: 50px;
            position: relative;
            @include boxShadow(0 3px 6px rgba(0, 0, 0, .2));
            height: 72px;
            display: flex;
            align-items: flex-end;
            ul {
                display: flex;
                height: 100%;
                width: 100%;
                li {
                    width: 50%;
                    padding: 14px 10px;
                    input {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        border-bottom: 0;
                        text-align: left;
                        font-size: 20px;
                        line-height: 20px;
                        height: 44px;
                        &:focus {
                            outline: none;
                        }
                    }
                    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: $darkgray;
                        opacity: 0.3;
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                        color: $darkgray;
                        opacity: 0.3;
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                        color: $darkgray;
                        opacity: 0.3;
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                        color: $darkgray;
                        opacity: 0.3;
                    }
                }
            }
            &.singlefield {
                ul {
                    li { 
                        width: 100%;
                        padding: 14px 0;
                    }
                }
            }
            .btn-round {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .cameraAction {
            .btn-round { margin-top: 15px; }
        }
    }

    .chatList {
        li {
            margin-bottom: 40px;
        }
    }
}

.searchContact-List {
    position: fixed;
    top: 100%;
    transition: all 0.4s;
    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include transition(all 0.4s);
    }
    .searchContact-Inner { 
        z-index: 2; 
        width: 538px;
        height: 672px;
        background: $white;
        padding: 45px 49px 0;
        margin: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: fixed;
        bottom: -700px;
        left: 0;
        right: 0;
        @include transition(all 0.4s);
    }
    .inputSearch {
        margin-bottom: 30px;
        input {
            height: 57px;
            padding: 0 12px;
            text-align: center;
            font-size: 20px;
            color: $dark;
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 3px;
        }
        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $darkgray;
        }
        input::-moz-placeholder { /* Firefox 19+ */
            color: $darkgray;
        }
        input:-ms-input-placeholder { /* IE 10+ */
            color: $darkgray;
        }
        input:-moz-placeholder { /* Firefox 18- */
            color: $darkgray;
        }
    }
    .searchResult {
        max-height: 540px;
        overflow: auto;
        .contact-Item {
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 80px;
            flex-wrap: wrap;
            min-height: 60px;
            p {
                font-size: 22px;
                line-height: 22px;
            }
            span{ 
                font-size: 17px; 
                color: $darkgray; 
                display: block;
                margin-top: 5px;
                line-height: 17px;
            }
            .item-img {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;

            }
        }

        ul {
            li {
                list-style: none;
                display: block;
                margin-bottom: 18px;
            }
        }
    }
    &.show {
        top: 0;
        &:after {
            top: 0;
        }
        .searchContact-Inner {
            bottom: 0;  
        }
    }
}

.modalBox {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    padding: 20px 80px;
    @include transition(all 0.4s);
    &.show { top: 0; }
    .modalInner {
        max-width: 480px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: center;
    }
    p {
        font-size: 24px;
        max-width: 320px;
        margin: 0 auto;
    }
    .cameraSection {
        width: 480px;
        height: 480px;
        border: 1px solid $tomato;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .btn {
        width: 260px;
        margin: 0 auto;
        text-align: center;
        i {
            margin-left: 15px;
            margin-right: 0;
        }
    }
    .signatureSection {
        background: #EDEDEF;
        border-radius: 20px;
        width: 480px;
        height: 320px;
        margin: 30px 0;
    }
}

.successfull {
    padding: 20px;
    background: $whitesmoke-200;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 140px;
        }
        p {
            margin-top: 15px;
            font-size: 24px;
        }
    }
    .profileDetails {
        background: $white;
        padding: 30px;
        border-radius: 15px;
        margin-top: 60px;
        .profile_details {
            padding-left: 140px;
            position: relative;
            min-height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .profile-Img {
                width: 120px;
                height: 120px; 
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }
            p {
                font-size: 26px;
                color: $darkslategray;
                line-height: 26px;
            }
            span {
                font-size: 15px; 
                color: $darkgray; 
                display: block;
                margin-top: 8px;
                line-height: 15px;
            }
        }
    }
    .profileDetails-list {
        margin: 20px 0;
        label {
            font-size: 17px;
            color: $darkslategray;
            margin-bottom: 8px;
        }
        p {
            font-size: 17px; 
            color: $darkgray; 
            line-height: 17px;
            margin-bottom: 8px;
        }
    }
    .scheduled {
        p {
            font-size: 15px; 
            color: $darkgray; 
            line-height: 15px;
        }
    }
}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    .modalBox {
        .modalInner {
            max-width: 380px;
            margin: auto;
        }
        .cameraSection {
            width: 380px;
            height: 380px;
        }
        .signatureSection {
            width: 380px;
            height: 380px;
        }
    }
}