@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?qrl8u2');
    src: url('../fonts/icomoon.eot?qrl8u2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?qrl8u2') format('truetype'), url('fonts/icomoon.woff?qrl8u2') format('woff'), url('fonts/icomoon.svg?qrl8u2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
    content: "\e900";
}
.icon-camera:before {
    content: "\e901";
}
.icon-check-in:before {
    content: "\e902";
}
.icon-check-out:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}